.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.login-wrapper {
  width: 75%;
  height: 75%;
  display: flex;
  justify-content: center;
}

.form-wrapper {
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
}
.inputs {
  display: flex;
  flex-direction: column;
}
